.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

th {
  padding: 15px;
}

td {
  padding: 1vh;
}

.nav>a {
  color: #ffffff;
  text-decoration: none;
}

.checkout>a {
  color: #ffffff;
  text-decoration: none;
}

button:hover {
  color: grey;
}

#top_div{
  width: 81vw;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
}
#img1{
  width: 70%;
  height: 406px;
}
#img2{
  width: 30%;
  height: 406px;
}
.image_div{
     width: 81vw;
     margin: auto;
     background: white;
     display: flex;
     justify-content: space-evenly;
     height: 25vh;
     box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
     padding-top: 3vh;
}
.image_div>img{
     width: 12%;
     height: 75%;
}
.links{
  width: 50%;
  display:flex;
  justify-content: space-evenly; 
  align-items: center;
  color: blue;
  font-size: 23px;
}
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}